{% load static %}
<aside class="affiliation common-box py-10 bg-light">
    <div class="container">
      <div class="title">
        <h3><span>We are Affiliated &amp; Partners</span></h3>
      </div>
      <ul class="affiliation-list row">
        <li class="col-lg-3 col-sm-6">
          <div class="item">
            <div class="intro-img">
              <img src="{% static 'img/svg_icon/nepal-goverment.svg' %}" alt="Nepal Goverment">
            </div>
            <div class="intro-text">
              <h4>
                Registered with: Company Registration Office, Government of
                Nepal
              </h4>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-sm-6">
          <div class="item">
            <div class="intro-img">
              <img src="{% static 'img/svg_icon/ntb.svg' %}" alt="Nepal Tourism Board">
            </div>
            <div class="intro-text">
              <h4>
                Licensed by:<br>
                Nepal Tourism Board &amp; Department of Tourism
              </h4>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-sm-6">
          <div class="item">
            <div class="intro-img">
              <img src="{% static 'img/svg_icon/taan.svg' %}" alt="Taan">
            </div>
            <div class="intro-text">
              <h4>
                Proud Member of <br>
                Trekking Agency's Association of Nepal
              </h4>
            </div>
          </div>
        </li>
        <li class="col-lg-3 col-sm-6">
          <div class="item">
            <div class="intro-img">
              <img src="{% static 'img/svg_icon/nma.svg' %}" alt="Nma">
            </div>
            <div class="intro-text">
              <h4>
                General Member of <br>
                Nepal Mountaineering Association
              </h4>
            </div>
          </div>
        </li>
      </ul>
    </div>
</aside>