{% load static %}
<div class="travel_variation_area">
    <div class="container">
        <div class="row">
            {% for service in services %}
            <div class="col-lg-4 col-md-6">
                <div class="single_travel text-center">
                    <div class="icon">
                        <img src="{{service.service_icon.url}}" alt="" height="80">
                    </div>
                    <h3>{{service.title}}</h3>
                    <p>{{service.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>