{% load static %}
<div class="testimonial_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                {% for review in reviews %}
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="single_testmonial text-center">
                                    <div class="author_thumb">
                                        <img src="{{review.avatar.url}}" alt="">
                                    </div>
                                    <p>{{review.review}}</p>
                                    <div class="testmonial_author">
                                        <h3>- {{review.name}}</h3>
                                    </div>
                                    <div class="testmonial_author">
                                        <a href="#"><h2>{{review.package_name}}</h2></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>