{% extends "partials/base.html" %} 
{% load static %}
{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock navbar %}
{% block main %}
<div class="bradcam_area" style="background-image: url({{about.cover_image.url}});">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>{{about.title}}</h3>
                    <p>{{about.caption}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ bradcam_area  -->

<div class="about_story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="story_heading">
                    <h3>Our Story</h3>
                </div>
                <div class="row">
                    <div class="col-lg-11 offset-lg-1">
                        <div class="story_info">
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>{{about.details|safe}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="story_thumb">
                            <div class="row">
                                <div class="col-lg-5 col-md-6">
                                    <div class="thumb padd_1">
                                        <img src="{% static 'img/banner/about_1.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="thumb">
                                        <img src="{% static 'img/banner/shyawmbhu.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="counter_wrap">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="single_counter text-center">
                                        <h3  class="counter">{{about.tour_done}}</h3>
                                        <p>Tour has done successfully</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="single_counter text-center">
                                        <h3 class="counter">{{about.years}}</h3>
                                        <p>Yearly tour arrange</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="single_counter text-center">
                                        <h3 class="counter">{{about.happy_client}}</h3>
                                        <p>Happy Clients</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
{% block videoarea %}
    {% include 'partials/videoarea.html' %}
{% endblock videoarea %}
{% block services %}
    {% include 'partials/services.html' %}
{% endblock services %}
{% block testimonial %}
    {% include 'partials/testimonial.html' %}
{% endblock testimonial %}
{% block recentblog %}
    {% include 'partials/recentblog.html' %}
{% endblock recentblog %}
{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock footer %}
{% block search_model %}
    {% include 'partials/search_model.html' %}
{% endblock search_model %}
