{% extends "partials/base.html" %} 
{% load static %}
{% block navbar %}
    {% include 'partials/navbar.html' %}
{% endblock navbar %}
{% block main %}
        <div class="bradcam_area" style="background-image: url({{single_activity.cover_image.url}});">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>{{single_activity.title}}</h3>
                        <p>{{single_activity.slogan}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popular_destination_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1 class="mb-3">{{single_activity.title}}</h1>
                    <blockquote class="d-flex"><i class="fa fa-quote-left mr-3"></i>{{single_activity.slogan}}</blockquote>
                    <p class="justify">{{single_activity.description|safe}}</p>
                </div>
                {% for package in packages %} 
                <div class="col-lg-4 col-md-6">
                    <div class="single_destination">
                        <div class="thumb">
                            <img src="{{package.thumbnail_image.url}}" alt="">
                        </div>
                        <div class="content">
                            <p class="d-flex align-items-center">{{package.title}} <a href="{{package.get_absolute_url}}">  07 Places</a> </p> 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}
{% include 'partials/newsletter.html' %}
{% block recentblog %}
    {% include 'partials/recentblog.html' %}
{% endblock recentblog %}
{% block affilate %}
    {% include 'partials/affilate.html' %}
{% endblock affilate %}
{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock footer %}
{% block search_model %}
    {% include 'partials/search_model.html' %}
{% endblock search_model %}
